*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: #2f3131;
    height: 60px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
a{
    text-decoration: none;
    color: gray;
    margin-right: 150px;
   
}
#content{
    height: 785px;
    background-color: #9fa5a5;
    
}
#footer{
    background-color: #2f3131;
    height: 40px;
    color: gray;
    margin-bottom: 20px;
    text-align: center;
    font-size: 10px;
}
p{
    font-size: 10px;
}
.projection{
    margin-left: 100px;
    height: 360px;
    width: 1300px;
    display: flex;
    justify-content: center;
    /*background-image: url(abc.jpg);*/
    background-size: cover;
    /* background-color: rgb(106, 106, 203); */
  

}
.aboutme{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin-right: 50px;
    margin-top: 30px;
    position: relative;
    /* background-image: url(my\ pic.png); */
    background-size: cover;

}
.education{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    /* margin-left: 100px; */
    margin-top: 30px;
    
}
.projects{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin-left: 50px;
    margin-top: 30px;
   
}
.projection2{
    background-color: #455252;
    height: 350px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.div1{
    height: 100px;
    width: 100px;
    background-color: #191b1b;
    margin-top: 200px;
    color: gray;
    text-align: center;
    
    /* margin-left: 40px; */
    
}
